<a href="https://colab.research.google.com/github/nirooshana14/Astron/blob/main/Data_Merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive

In [129]:
import shutil
import os

In [131]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Importing Dataset

In [43]:
file_path16 = '/content/gdrive/MyDrive/FYP_Datasets/1_Unfiltered/2016_raw.csv'
file_path17 = '/content/gdrive/MyDrive/FYP_Datasets/1_Unfiltered/2017_raw.xlsx'
file_path18 = '/content/gdrive/MyDrive/FYP_Datasets/1_Unfiltered/2018_raw.xlsx'
file_path19 = '/content/gdrive/MyDrive/FYP_Datasets/1_Unfiltered/2019_raw.xlsx'

In [56]:
df16 = pd.read_csv(file_path16)
df17 = pd.read_excel(file_path17)
df18 = pd.read_excel(file_path18)
df19 = pd.read_excel(file_path19)

<ipython-input-55-59fe56de830d>:1: DtypeWarning: Columns (13,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df16 = pd.read_csv(file_path16)
<ipython-input-56-59fe56de830d>:1: DtypeWarning: Columns (13,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df16 = pd.read_csv(file_path16)

In [57]:
df16c = df16.copy()
df17c = df17.copy()
df18c = df18.copy()
df19c = df19.copy()

2016

In [70]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36829 entries, 1 to 193496
Data columns (total 43 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   X                                    36829 non-null  int64
 1   X2016_tbldailycatchrecordext_Rec_No  36829 non-null  object
 2   Catch_Type                           36829 non-null  object
 3   Month                                36829 non-null  int64
 4   Date_Of_Set                          36829 non-null  int64
 5   StartTime                            36829 non-null  int64
 6   EndTime                              36829 non-null  int64
 7   Latitude                             36829 non-null  object
 8   Longetude                            36829 non-null  object
 9   Total_Length_of_Net                  0 non-null      object
 10  Mesh_Size                            36829 non-null  float64
 11  Depth_Net_Set                        36829 non-null  float64
 12  Height_of_net                        36829 non-null  float64
 13  FADType                              0 non-null      object
 14  GillNetLen                           36828 non-null  float64
 15  BranchLine_Len                       36828 non-null  object
 16  Hooks_Between                        36829 non-null  int64
 17  Total_Hooks                          36829 non-null  int64
 18  Type_of_Bait                         21101 non-null  object
 19  Remarks                              10 non-null     object
 20  Rec_Date                             36829 non-null  object
 21  EndLatitude                          0 non-null      object
 22  EndLongetude                         0 non-null      object
 23  zone                                 36825 non-null  object
 24  Date_set                             36829 non-null  datetime64[ns]
 25  Lat                                  36829 non-null  object
 26  Long                                 36829 non-null  object
 27  Fish_Name                            36829 non-null  object
 28  KG                                   36829 non-null  float64
 29  Amount                               36829 non-null  float64
 30  Log_Book_No                          36829 non-null  object
 31  Boat_No                              36829 non-null  object
 32  Departure_Port                       36829 non-null  object
 33  Departure_Date                       36829 non-null  object
 34  Arrival_Port                         36829 non-null  object
 35  Arrival_date                         36829 non-null  object
 36  lat                                  36829 non-null  float64
 37  lon                                  36829 non-null  float64
 38  fdate                                36829 non-null  datetime64[ns]
 39  latd                                 36829 non-null  float64
 40  lond                                 36829 non-null  float64
 41  Year                                 36829 non-null  int64
 42  Set_Date                             36766 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(10), int64(8), object(22)
memory usage: 12.4+ MB

In [59]:
df16['Fish_Name'].value_counts()

Skipjack tuna                  53024
Yellowfin tuna                 44746
Sword fish                     16922
Indian Scad (Linna)            12264
Sail fish                       9766
Big eye tuna                    9096
Marlin                          7366
Frigate tuna                    5091
Black marlin                    4221
Rainbow runner(Lena parawa)     4171
Trigger fish (Pothubara)        3927
OTHERS                          3757
Blue marlin                     3307
Silky shark                     2491
Blue shark                      2255
Wahoo                           2022
Kawakawa                        2009
Albacore                        1126
Bullet tuna                      811
Spanish mackrel                  744
Ray Fish (Maduwa)                730
LELAWA                           616
Dolphin fish(Vanna)              491
Mako shark                       474
KATTA                            422
Hamer head shark                 372
Habarali                         253
ROCK FISH                        196
Stripped marlin                  186
WANNA KATTA                      142
CUTTLE FISH                      130
SAPURU                            79
Paramuwa                          53
BIGEYE SCADE                      47
Other Sharks                      44
MURALLA                           39
SEER                              35
SIVIYA                            22
PALLA MACHLI                      17
SMALL TUNA                        16
OTHER SAIL                        15
BAYITA                            14
Sawara                             8
SURUTTA                            5
Name: Fish_Name, dtype: int64

In [60]:
df16['Catch_Type'].value_counts()

gillnets    88405
longline    72996
ringnet     32121
Name: Catch_Type, dtype: int64

In [61]:
df16 = df16[(df16['Fish_Name'] == 'Yellowfin tuna')]
df16 = df16[(df16['Catch_Type'] == 'longline')]

In [62]:
df16['Year'] = 2016

# Combine "Month", "Date_Of_Set", and "Year" to create a new variable "Set_Date"
df16['Set_Date'] = pd.to_datetime(df16[['Year', 'Month', 'Date_Of_Set']].astype(str).agg(' '.join, axis=1), format='%Y %m %d', errors='coerce')

In [63]:
df16['Date_set'] = pd.to_datetime(df16['Date_set'])

In [64]:
df16['fdate'] = pd.to_datetime(df16['fdate'])

In [65]:
different_values = df16[df16['Set_Date'] != df16['fdate']][['Set_Date', 'fdate']]

KeyError: ('Set_Date', 'fdate', 'Arrival_date', 'Departure_Date')

In [69]:
nan_values = different_values[different_values['Set_Date'].isna()]

if not nan_values.empty:
    print("Records with NaT in 'Set_Date':")
    print(nan_values)
else:
    print("No records with NaT in 'Set_Date'.")

Records with NaT in 'Set_Date':
       Set_Date      fdate
11688       NaT 2016-03-23
19668       NaT 2016-04-08
23121       NaT 2016-04-20
30854       NaT 2016-05-06
30855       NaT 2016-05-06
...         ...        ...
162963      NaT 2016-03-13
167229      NaT 2016-03-15
174105      NaT 2016-03-20
174113      NaT 2016-03-20
191341      NaT 2016-04-04

[63 rows x 2 columns]

In [67]:
different_values

         Set_Date      fdate
1408   2016-02-03 2016-01-20
1410   2016-01-20 2016-02-03
8004   2016-01-30 2016-02-22
8010   2016-02-22 2016-01-30
11688         NaT 2016-03-23
...           ...        ...
182641 2016-10-17 2016-11-13
182652 2016-11-13 2016-10-17
188300 2016-11-01 2016-12-08
188303 2016-12-08 2016-11-01
191341        NaT 2016-04-04

[110 rows x 2 columns]

In [54]:
has_invalid_date = pd.to_datetime(df16['Set_Date'], errors='coerce').isna()

if has_invalid_date.any():
    print("The  variable has invalid dates, including '2016-02-30'.")
else:
    print("The  variable does not have invalid dates.")

The  variable has invalid dates, including '2016-02-30'.

In [68]:
record = df16.iloc[11688]

# Print the result
print(record)

X                                                    58823
X2016_tbldailycatchrecordext_Rec_No         LB152458A-02-A
Catch_Type                                        longline
Month                                                    4
Date_Of_Set                                             17
StartTime                                              400
EndTime                                                  0
Latitude                                           N014 26
Longetude                                          E086 21
Total_Length_of_Net                                    NaN
Mesh_Size                                              0.0
Depth_Net_Set                                          0.0
Height_of_net                                          0.0
FADType                                                NaN
GillNetLen                                             0.0
BranchLine_Len                                       21/30
Hooks_Between                                            3
Total_Hooks                                            260
Type_of_Bait                                   FLYING FISH
Remarks                                                NaN
Rec_Date                                         6/23/2016
EndLatitude                                            NaN
EndLongetude                                           NaN
zone                                             HIGH SEAS
Date_set                               2016-04-17 00:00:00
Lat                                                N014 26
Long                                               E086 21
Fish_Name                                   Yellowfin tuna
KG                                                    60.0
Amount                                                 2.0
Log_Book_No                                      LB152458A
Boat_No                                       IMULA0482CHW
Departure_Port                                    Beruwala
Departure_Date                                    4/7/2016
Arrival_Port                                      Beruwala
Arrival_date                                     5/12/2016
lat                                                   14.5
lon                                                  86.25
fdate                                  2016-04-17 00:00:00
latd                                              14.43333
lond                                                 86.35
Year                                                  2016
Set_Date                               2016-04-17 00:00:00
Name: 58814, dtype: object

In [71]:
df16.drop(['X', 'Catch_Type', 'StartTime', 'EndTime','Total_Length_of_Net', 'Mesh_Size',
           'Depth_Net_Set' , 'Height_of_net', 'FADType', 'GillNetLen', 'BranchLine_Len',
           'Hooks_Between', 'Remarks','EndLatitude', 'EndLongetude', 'Date_set',
           'Fish_Name', 'Log_Book_No'], axis=1, inplace=True)

In [72]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36829 entries, 1 to 193496
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   X2016_tbldailycatchrecordext_Rec_No  36829 non-null  object
 1   Month                                36829 non-null  int64
 2   Date_Of_Set                          36829 non-null  int64
 3   Latitude                             36829 non-null  object
 4   Longetude                            36829 non-null  object
 5   Total_Hooks                          36829 non-null  int64
 6   Type_of_Bait                         21101 non-null  object
 7   Rec_Date                             36829 non-null  object
 8   zone                                 36825 non-null  object
 9   Lat                                  36829 non-null  object
 10  Long                                 36829 non-null  object
 11  KG                                   36829 non-null  float64
 12  Amount                               36829 non-null  float64
 13  Boat_No                              36829 non-null  object
 14  Departure_Port                       36829 non-null  object
 15  Departure_Date                       36829 non-null  object
 16  Arrival_Port                         36829 non-null  object
 17  Arrival_date                         36829 non-null  object
 18  lat                                  36829 non-null  float64
 19  lon                                  36829 non-null  float64
 20  fdate                                36829 non-null  datetime64[ns]
 21  latd                                 36829 non-null  float64
 22  lond                                 36829 non-null  float64
 23  Year                                 36829 non-null  int64
 24  Set_Date                             36766 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(4), object(13)
memory usage: 7.3+ MB

In [73]:
df16.drop(['Rec_Date', 'Lat', 'Long', 'lat','lon', 'fdate',
           'latd' , 'lond'], axis=1, inplace=True)

In [74]:
df16.rename(columns={'X2016_tbldailycatchrecordext_Rec_No': 'Rec_No', 'Date_Of_Set': 'Day'}, inplace=True)

In [75]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36829 entries, 1 to 193496
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rec_No          36829 non-null  object
 1   Month           36829 non-null  int64
 2   Day             36829 non-null  int64
 3   Latitude        36829 non-null  object
 4   Longetude       36829 non-null  object
 5   Total_Hooks     36829 non-null  int64
 6   Type_of_Bait    21101 non-null  object
 7   zone            36825 non-null  object
 8   KG              36829 non-null  float64
 9   Amount          36829 non-null  float64
 10  Boat_No         36829 non-null  object
 11  Departure_Port  36829 non-null  object
 12  Departure_Date  36829 non-null  object
 13  Arrival_Port    36829 non-null  object
 14  Arrival_date    36829 non-null  object
 15  Year            36829 non-null  int64
 16  Set_Date        36766 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 5.1+ MB

In [112]:
duplicate_rows = df16[df16.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate rows:
                Rec_No  Month  Day Latitude Longetude  Total_Hooks  \
8518    LB152425A-03-A      1   25  N011 20   E083 11          400
8519    LB152425A-03-A      1   25  N011 20   E083 11          400
8520    LB152425A-03-A      1   28  N011 49   E085 11          400
8521    LB152425A-03-A      1   28  N011 49   E085 11          400
8525    LB152425A-03-A      1   30  N013 17   E086 47          400
...                ...    ...  ...      ...       ...          ...
138456  LB151723A-05-A      8    2  N005 30   E079 40          200
138457  LB151723A-05-A      8    4  N005 41   E079 13          200
138458  LB151723A-05-A      8    6  N005 43   E078 19          200
138459  LB151723A-05-A      8    6  N005 43   E078 19          200
138460  LB151723A-05-A      8    6  N005 43   E078 19          200

       Type_of_Bait       zone     KG  Amount       Boat_No Departure_Port  \
8518    FLYING FISH        EEZ   60.0     2.0  IMULA0492KLT       Beruwala
8519    FLYING FISH        EEZ   60.0     2.0  IMULA0492KLT        Cod Bay
8520    FLYING FISH  HIGH SEAS  130.0     3.0  IMULA0492KLT       Beruwala
8521    FLYING FISH  HIGH SEAS  130.0     3.0  IMULA0492KLT        Cod Bay
8525    FLYING FISH  HIGH SEAS   40.0     1.0  IMULA0492KLT       Beruwala
...             ...        ...    ...     ...           ...            ...
138456          NaN        EEZ  150.0     3.0  IMULA0786MTR     Devinuwara
138457          NaN        EEZ   90.0     2.0  IMULA0786MTR     Devinuwara
138458          NaN        EEZ   60.0     1.0  IMULA0786MTR     Devinuwara
138459          NaN        EEZ   60.0     1.0  IMULA0786MTR     Devinuwara
138460          NaN        EEZ   60.0     1.0  IMULA0786MTR     Devinuwara

       Departure_Date Arrival_Port Arrival_date  Year   Set_Date  Is_In_Range
8518       2016-05-28     Beruwala   2016-06-26  2016 2016-01-25        False
8519       2016-01-22     Beruwala   2016-02-25  2016 2016-01-25         True
8520       2016-05-28     Beruwala   2016-06-26  2016 2016-01-28        False
8521       2016-01-22     Beruwala   2016-02-25  2016 2016-01-28         True
8525       2016-05-28     Beruwala   2016-06-26  2016 2016-01-30        False
...               ...          ...          ...   ...        ...          ...
138456     2016-07-31   Devinuwara   2016-08-17  2016 2016-08-02         True
138457     2016-10-20   Devinuwara   2016-06-07  2016 2016-08-04        False
138458     2016-10-20   Devinuwara   2016-06-07  2016 2016-08-06        False
138459     2016-07-31   Devinuwara   2016-08-18  2016 2016-08-06         True
138460     2016-07-31   Devinuwara   2016-08-17  2016 2016-08-06         True

[61 rows x 18 columns]

In [113]:
df16= df16.drop_duplicates()

In [80]:
df16['Departure_Date'] = pd.to_datetime(df16['Departure_Date'])

In [79]:
df16['Arrival_date'] = pd.to_datetime(df16['Arrival_date'])
df16['Set_Date'] = pd.to_datetime(df16['Set_Date'])

# Conditionally update 'Date_set' and 'Year'
mask = (df16['Arrival_date'] >= '2017-01-01') & (df16['Set_Date'] <= '2016-01-31')
df16.loc[mask, 'Set_Date'] = df16.loc[mask, 'Set_Date'] + pd.DateOffset(years=1)
df16.loc[mask, 'Year'] = 2017

In [114]:
# Check if 'Set_Date' is within the range of 'Arrival_Date' and 'Departure_Date'
df16['Is_In_Range'] = (df16['Set_Date'] <= df16['Arrival_date']) & (df16['Set_Date'] >= df16['Departure_Date'])

# Print rows where 'Set_Date' is not in the range
invalid_set_dates = df16[~df16['Is_In_Range']]
print("Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':")
print(invalid_set_dates)

Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':
                Rec_No  Month  Day Latitude Longetude  Total_Hooks  \
1       LB150548A-01-A      1   21  N009 35   E084 30          750
11      LB150462A-02-A     10   29  N001 54   E069 27          900
217     LB150689A-01-A      1   23  N012 09   E085 15          450
221     LB150689A-01-A      1   23  N012 09   E085 15          450
227     LB150689A-01-A      1   25  N012 48   E085 54          450
...                ...    ...  ...      ...       ...          ...
193305  LB150024A-07-A     11   21  N008 10   E081 50          200
193306  LB150024A-07-A     11   22  N008 10   E081 50            0
193307  LB150024A-07-A     11   23  N008 10   E081 50            0
193308  LB150024A-07-A     11   26  N008 10   E081 50            0
193309  LB150024A-07-A     11   29  N008 10   E081 50            0

       Type_of_Bait                zone     KG  Amount       Boat_No  \
1        ARTIFICIAL                 EEZ   45.0     2.0  IMULA0476CHW
11            SCADE  HIGH SEAS MARGINAL  150.0     4.0  IMULA0238CHW
217      ARTIFICIAL           HIGH SEAS  215.0     2.0  IMULA0704MTR
221      ARTIFICIAL           HIGH SEAS  215.0     2.0  IMULA0704MTR
227      ARTIFICIAL           HIGH SEAS  470.0     8.0  IMULA0704MTR
...             ...                 ...    ...     ...           ...
193305        LINNA                 EEZ  300.0    10.0  IMULA0876TLE
193306          NaN                 EEZ  450.0    13.0  IMULA0876TLE
193307          NaN                 EEZ  480.0    16.0  IMULA0876TLE
193308          NaN                 EEZ   90.0     3.0  IMULA0876TLE
193309          NaN                 EEZ   20.0     1.0  IMULA0876TLE

       Departure_Port Departure_Date Arrival_Port Arrival_date  Year  \
1             Negombo     2016-01-24      Cod Bay   2016-02-25  2016
11           Dikowita     2016-01-13     Dikowita   2016-02-17  2016
217        Devinuwara     2016-05-07      Colombo   2016-05-13  2016
221        Devinuwara     2016-01-05   Devinuwara   2016-01-13  2016
227        Devinuwara     2016-05-07      Colombo   2016-05-13  2016
...               ...            ...          ...          ...   ...
193305        Cod Bay     2016-12-20    Kudawella   2016-12-25  2016
193306        Cod Bay     2016-12-20    Kudawella   2016-12-25  2016
193307        Cod Bay     2016-12-20    Kudawella   2016-12-25  2016
193308        Cod Bay     2016-12-20    Kudawella   2016-12-25  2016
193309        Cod Bay     2016-12-20    Kudawella   2016-12-25  2016

         Set_Date  Is_In_Range
1      2016-01-21        False
11     2016-10-29        False
217    2016-01-23        False
221    2016-01-23        False
227    2016-01-25        False
...           ...          ...
193305 2016-11-21        False
193306 2016-11-22        False
193307 2016-11-23        False
193308 2016-11-26        False
193309 2016-11-29        False

[5015 rows x 18 columns]

<ipython-input-114-395b063ae06e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df16['Is_In_Range'] = (df16['Set_Date'] <= df16['Arrival_date']) & (df16['Set_Date'] >= df16['Departure_Date'])

2017

In [83]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475117 entries, 0 to 475116
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   LB NUMBER            475117 non-null  object
 1   GEAR                 475117 non-null  object
 2   Month                475117 non-null  int64
 3   Date                 475117 non-null  int64
 4   LONGI                475117 non-null  object
 5   LATTI                475117 non-null  object
 6   Net Len              25904 non-null   object
 7   Mesh Size            475117 non-null  float64
 8   Depth Net            475117 non-null  float64
 9   Height Net           475117 non-null  int64
 10  FAD type             25904 non-null   object
 11  Gill Net len         475117 non-null  int64
 12  Branch Line Len GHT  236737 non-null  object
 13  Hook between         475117 non-null  int64
 14  Total Hooks          475117 non-null  int64
 15  BAIT                 236737 non-null  object
 16  Remarks              1692 non-null    object
 17  Record Date          475117 non-null  datetime64[ns]
 18  AREA                 475098 non-null  object
 19  Grid 5               475117 non-null  int64
 20  Grid 1               475117 non-null  int64
 21  CATCH                475117 non-null  object
 22  KG                   475117 non-null  float64
 23  QTY                  475117 non-null  float64
 24  REG NUM              475117 non-null  object
 25  ARRIVAL DATE         475117 non-null  datetime64[ns]
 26  DEPARTURE DATE       475117 non-null  datetime64[ns]
 27  ARRIVAL PORT         475117 non-null  object
 28  DEPARTURE PORT       475117 non-null  object
dtypes: datetime64[ns](3), float64(4), int64(8), object(14)
memory usage: 105.1+ MB

In [38]:
df17['GEAR'].value_counts()

longline                                                                                              236737
gillnets                                                                                              212476
ringnet                                                                                                25904
Name: GEAR, dtype: int64

In [37]:
df17['CATCH'].value_counts()

Yellowfin tuna                                                                                        121866
Skipjack tuna                                                                                         106223
Sword fish                                                                                             51163
Sail fish                                                                                              36045
Bigeye tuna                                                                                            27880
                                                                                                       ...
BADAWA                                                                                                     6
Vaniliya                                                                                                   4
PALLA MACHLI                                                                                               4
SEA VIRAL                                                                                                  3
BAYITA                                                                                                     2
Name: CATCH, Length: 65, dtype: int64

In [94]:
df17['GEAR'] = df17['GEAR'].str.strip()

In [98]:
df17['CATCH'] = df17['CATCH'].str.strip()

In [99]:
df17 = df17[df17['GEAR'] == 'longline']
df17 = df17[df17['CATCH'] == 'Yellowfin tuna']

In [100]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100605 entries, 3 to 475115
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   LB NUMBER            100605 non-null  object
 1   GEAR                 100605 non-null  object
 2   Month                100605 non-null  int64
 3   Date                 100605 non-null  int64
 4   LONGI                100605 non-null  object
 5   LATTI                100605 non-null  object
 6   Net Len              0 non-null       object
 7   Mesh Size            100605 non-null  float64
 8   Depth Net            100605 non-null  float64
 9   Height Net           100605 non-null  int64
 10  FAD type             0 non-null       object
 11  Gill Net len         100605 non-null  int64
 12  Branch Line Len GHT  100605 non-null  object
 13  Hook between         100605 non-null  int64
 14  Total Hooks          100605 non-null  int64
 15  BAIT                 100605 non-null  object
 16  Remarks              81 non-null      object
 17  Record Date          100605 non-null  datetime64[ns]
 18  AREA                 100602 non-null  object
 19  Grid 5               100605 non-null  int64
 20  Grid 1               100605 non-null  int64
 21  CATCH                100605 non-null  object
 22  KG                   100605 non-null  float64
 23  QTY                  100605 non-null  float64
 24  REG NUM              100605 non-null  object
 25  ARRIVAL DATE         100605 non-null  datetime64[ns]
 26  DEPARTURE DATE       100605 non-null  datetime64[ns]
 27  ARRIVAL PORT         100605 non-null  object
 28  DEPARTURE PORT       100605 non-null  object
dtypes: datetime64[ns](3), float64(4), int64(8), object(14)
memory usage: 23.0+ MB

In [101]:
df17['Year'] = 2017

# Combine "Month", "Date_Of_Set", and "Year" to create a new variable "Set_Date"
df17['Set_Date'] = pd.to_datetime(df17[['Year', 'Month', 'Date']].astype(str).agg(' '.join, axis=1), format='%Y %m %d', errors='coerce')

In [103]:
df17.drop(['GEAR', 'Net Len', 'Mesh Size', 'Depth Net','Height Net', 'FAD type',
           'Gill Net len' , 'Branch Line Len GHT', 'Hook between', 'Remarks', 'Record Date',
           'Grid 5', 'Grid 1', 'CATCH'
           ], axis=1, inplace=True)

In [104]:
df17.rename(columns={'LB NUMBER': 'Rec_No', 'Date': 'Day', 'LONGI' : 'Latitude', 'LATTI':'Longetude',
                     'BAIT' : 'Type_of_Bait', 'AREA':'zone','QTY':'Amount', 'REG NUM':'Boat_No',
                     'ARRIVAL DATE': 'Arrival_date', 'DEPARTURE DATE':'Departure_Date', 'ARRIVAL PORT':'Arrival_Port',
                     'DEPARTURE PORT':'Departure_Port'}, inplace=True)

In [176]:
df17.rename(columns={'Total Hooks':'Total_Hooks'}, inplace=True)

In [177]:
df17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93316 entries, 3 to 475115
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rec_No          93316 non-null  object
 1   Month           93316 non-null  int64
 2   Day             93316 non-null  int64
 3   Latitude        93316 non-null  object
 4   Longetude       93316 non-null  object
 5   Total_Hooks     93316 non-null  int64
 6   Type_of_Bait    93316 non-null  object
 7   zone            93313 non-null  object
 8   KG              93316 non-null  float64
 9   Amount          93316 non-null  float64
 10  Boat_No         93316 non-null  object
 11  Arrival_date    93316 non-null  datetime64[ns]
 12  Departure_Date  93316 non-null  datetime64[ns]
 13  Arrival_Port    93316 non-null  object
 14  Departure_Port  93316 non-null  object
 15  Year            93316 non-null  int64
 16  Set_Date        93215 non-null  datetime64[ns]
 17  Is_In_Range     93316 non-null  bool
dtypes: bool(1), datetime64[ns](3), float64(2), int64(4), object(8)
memory usage: 12.9+ MB

In [107]:
df17['Arrival_date'] = pd.to_datetime(df17['Arrival_date'])
df17['Set_Date'] = pd.to_datetime(df17['Set_Date'])
df17['Departure_Date'] = pd.to_datetime(df17['Departure_Date'])

In [115]:
mask = (df17['Arrival_date'] >= '2018-01-01') & (df17['Set_Date'] <= '2017-01-31')
df17.loc[mask, 'Set_Date'] = df17.loc[mask, 'Set_Date'] + pd.DateOffset(years=1)
df17.loc[mask, 'Year'] = 2018

In [122]:
df17['Is_In_Range'] = (df17['Set_Date'] <= df17['Arrival_date']) & (df17['Set_Date'] >= df17['Departure_Date'])

# Print rows where 'Set_Date' is not in the range
invalid_set_dates = df17[~df17['Is_In_Range']]
print("Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':")
print(invalid_set_dates)

Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':
                                                   Rec_No  Month  Day  \
200     LB170225A-09-A                                ...      6   28
246     LB170816A-02-A                                ...      6   25
291     LB171872A-05-A                                ...      5   26
555     LB171357A-01-A                                ...      1   14
557     LB170808A-11-A                                ...     10   19
...                                                   ...    ...  ...
474760  LB173511A-06-A                                ...      9   17
475037  LB173093A-02-A                                ...     12    1
475039  LB173093A-02-A                                ...     12    1
475067  LB171236A-06-A                                ...      9   21
475069  LB171860A-16-A                                ...      6   26

                                                 Latitude  \
200     N007 52                                       ...
246     N007 50                                       ...
291     N006 11                                       ...
555     N010 22                                       ...
557     N005 43                                       ...
...                                                   ...
474760  N010 10                                       ...
475037  N010 03                                       ...
475039  N010 03                                       ...
475067  N005 40                                       ...
475069  N005 20                                       ...

                                                Longetude  Total Hooks  \
200     E079 28                                       ...          650
246     E081 45                                       ...          250
291     E081 44                                       ...            0
555     E085 08                                       ...            0
557     E080 59                                       ...            0
...                                                   ...          ...
474760  E082 30                                       ...          800
475037  E082 06                                       ...            0
475039  E082 06                                       ...            0
475067  E079 20                                       ...         1000
475069  E079 57                                       ...            0

                                             Type_of_Bait  \
200     DELLA                                         ...
246     LINNA                                         ...
291     NA                                            ...
555     NA                                            ...
557     NA                                            ...
...                                                   ...
474760  PIYAMASSA                                     ...
475037  NA                                            ...
475039  NA                                            ...
475067  SALAYA                                        ...
475069  NA                                            ...

                                                     zone     KG  Amount  \
200     EEZ NA                                        ...   50.0     1.0
246     EEZ NA                                        ...   78.0     1.0
291     EEZ NA                                        ...  120.0     3.0
555     HIGH SEAS NA                                  ...  400.0     8.0
557     EEZ NA                                        ...  170.0     5.0
...                                                   ...    ...     ...
474760  EEZ NA                                        ...  398.0     8.0
475037  EEZ                                           ...  160.0     4.0
475039  EEZ                                           ...  161.0     4.0
475067  EEZ NA                                        ...  150.0     3.0
475069  EEZ NA                                        ...   51.0     1.0

                             Boat_No Arrival_date Departure_Date  \
200     IMULA0146NBO                   2017-07-29     2017-07-15
246     IMULA1230MTR                   2017-03-13     2017-02-23
291     IMULA0473KLT                   2017-06-10     2017-05-28
555     IMULA0689CHW                   2017-08-23     2017-07-27
557     IMULA0999MTR                   2017-01-25     2017-01-03
...                              ...          ...            ...
474760  IMULA0590NBO                   2017-09-03     2017-09-03
475037  IMULA1470MTR                   2017-04-29     2017-03-25
475039  IMULA1470MTR                   2017-04-29     2017-03-25
475067  IMULA0142PTM                   2017-06-30     2017-06-02
475069  IMULA0094TLE                   2017-05-02     2017-05-01

                                            Arrival_Port  \
200     Negombo
246     Devinuwara
291     Devinuwara
555     Valaichchenai
557     Devinuwara
...                                                  ...
474760  TCO
475037  Devinuwara
475039  Devinuwara
475067  Negombo
475069  Devinuwara

                                          Departure_Port  Year   Set_Date  \
200     Negombo                                           2017 2017-06-28
246     Devinuwara                                        2017 2017-06-25
291     Devinuwara                                        2017 2017-05-26
555     Valaichchenai                                     2017 2017-01-14
557     Devinuwara                                        2017 2017-10-19
...                                                  ...   ...        ...
474760  TCO                                               2017 2017-09-17
475037  Devinuwara                                        2017 2017-12-01
475039  Devinuwara                                        2017 2017-12-01
475067  Negombo                                           2017 2017-09-21
475069  Devinuwara                                        2017 2017-06-26

        Is_In_Range
200           False
246           False
291           False
555           False
557           False
...             ...
474760        False
475037        False
475039        False
475067        False
475069        False

[11003 rows x 18 columns]

In [121]:
duplicate_rows = df17[df17.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [119]:
print("Duplicate rows:")
print(duplicate_rows)

# Count occurrences of each duplicate row
duplicate_counts = df17.duplicated(keep=False).sum()
print("\nNumber of occurrences of each duplicate row:")
print(df17[df17.duplicated()].value_counts().reset_index(name='Count'))

Duplicate rows:
                                                   Rec_No  Month  Day  \
63      LB170893A-09-A                                ...      9    9
527     LB171745A-07-A                                ...      6   13
584     LB170325A-01-A                                ...      2    5
788     LB171313A-06-A                                ...      7    5
789     LB171313A-06-A                                ...      7    5
...                                                   ...    ...  ...
474709  LB170262A-02-A                                ...      2   20
474750  LB174566A-09-A                                ...      5    2
474751  LB174566A-09-A                                ...      5    2
474752  LB174566A-09-A                                ...      5    2
475052  LB171362A-10-A                                ...     11   11

                                                 Latitude  \
63      N006 18                                       ...
527     N005 48                                       ...
584     N012 25                                       ...
788     N001 36                                       ...
789     N001 36                                       ...
...                                                   ...
474709  N007 00                                       ...
474750  N008 48                                       ...
474751  N008 48                                       ...
474752  N008 48                                       ...
475052  N002 46                                       ...

                                                Longetude  Total Hooks  \
63      E081 41                                       ...          300
527     E080 07                                       ...            0
584     E086 21                                       ...         1000
788     E080 18                                       ...            0
789     E080 18                                       ...            0
...                                                   ...          ...
474709  E084 45                                       ...          700
474750  E081 29                                       ...          150
474751  E081 29                                       ...          150
474752  E081 29                                       ...          150
475052  E077 05                                       ...          850

                                             Type_of_Bait  \
63      CUTTLE FISH                                   ...
527     NA                                            ...
584     PIHITI                                        ...
788     NA                                            ...
789     NA                                            ...
...                                                   ...
474709  PIYATI                                        ...
474750  NA                                            ...
474751  NA                                            ...
474752  NA                                            ...
475052  VEKKAYA                                       ...

                                                     zone     KG  Amount  \
63      EEZ NA                                        ...  210.0     6.0
527     EEZ NA                                        ...  100.0     2.0
584     HIGH SEAS NA                                  ...  460.0    10.0
788     HIGH SEAS NA                                  ...   80.0     3.0
789     HIGH SEAS NA                                  ...   80.0     3.0
...                                                   ...    ...     ...
474709  EEZ                                           ...  180.0     4.0
474750  EEZ                                           ...   89.0     2.0
474751  EEZ                                           ...   89.0     2.0
474752  EEZ                                           ...   89.0     2.0
475052  HIGH SEAS                                     ...   40.0     1.0

                             Boat_No Arrival_date Departure_Date  \
63      IMULA0036MTR                   2017-11-11     2017-09-04
527     IMULA1049MTR                   2017-06-28     2017-06-13
584     IMULA0613NBO                   2017-02-09     2017-01-17
788     IMULA0532CHW                   2017-07-15     2017-06-24
789     IMULA0532CHW                   2017-07-15     2017-06-24
...                              ...          ...            ...
474709  IMULA0739CHW                   2017-03-01     2017-02-01
474750  IMULA0161MTR                   2017-05-04     2017-04-29
474751  IMULA0161MTR                   2017-05-04     2017-04-29
474752  IMULA0161MTR                   2017-05-04     2017-04-29
475052  IMULA0507CHW                   2017-11-26     2017-11-01

                                            Arrival_Port  \
63      Kirinda
527     Devinuwara
584     Cod Bay
788     Dikowita
789     Dikowita
...                                                  ...
474709  TLE
474750  Valaichchenai
474751  Valaichchenai
474752  Valaichchenai
475052  Dikowita

                                          Departure_Port  Year   Set_Date  \
63      Devinuwara                                        2017 2017-09-09
527     Devinuwara                                        2017 2017-06-13
584     Cod Bay                                           2017 2017-02-05
788     Dikowita                                          2017 2017-07-05
789     Dikowita                                          2017 2017-07-05
...                                                  ...   ...        ...
474709  TLE                                               2017 2017-02-20
474750  Valaichchenai                                     2017 2017-05-02
474751  Valaichchenai                                     2017 2017-05-02
474752  Valaichchenai                                     2017 2017-05-02
475052  Dikowita                                          2017 2017-11-11

        Is_In_Range
63             True
527            True
584            True
788            True
789            True
...             ...
474709         True
474750         True
474751         True
474752         True
475052         True

[7289 rows x 18 columns]

Number of occurrences of each duplicate row:
                                                 Rec_No  Month  Day  \
0     LB171275A-05-A                                ...      8   13
1     LB170308A-03-A                                ...      3   13
2     LB171227A-07-A                                ...     10    5
3     LB171227A-07-A                                ...     10    5
4     LB171313A-06-A                                ...      7    5
...                                                 ...    ...  ...
2895  LB171248A-02-A                                ...      2   12
2896  LB171248A-02-A                                ...      2   14
2897  LB171248A-02-A                                ...      2   17
2898  LB171248A-02-A                                ...      2   17
2899  lb173080a-12-A                                ...      8   28

                                               Latitude  \
0     N007 50                                       ...
1     N007 44                                       ...
2     N015 42                                       ...
3     N015 42                                       ...
4     N001 36                                       ...
...                                                 ...
2895  N010 50                                       ...
2896  N010 50                                       ...
2897  N010 50                                       ...
2898  N010 50                                       ...
2899  N005 35                                       ...

                                              Longetude  Total Hooks  \
0     E068 55                                       ...            0
1     E087 24                                       ...          840
2     E089 45                                       ...            0
3     E089 45                                       ...            0
4     E080 18                                       ...            0
...                                                 ...          ...
2895  E082 50                                       ...          400
2896  E082 50                                       ...          400
2897  E082 50                                       ...          400
2898  E082 50                                       ...          400
2899  E081 15                                       ...            4

                                           Type_of_Bait  \
0     DELLA                                         ...
1     FLYING FISH                                   ...
2     PIYATY                                        ...
3     PIYATY                                        ...
4     NA                                            ...
...                                                 ...
2895  SQUID                                         ...
2896  SQUID                                         ...
2897  SQUID                                         ...
2898  SQUID                                         ...
2899  DELLA                                         ...

                                                   zone     KG  Amount  \
0     HIGH SEAS                                     ...  900.0     3.0
1     HIGH SEAS NA                                  ...    0.0     4.0
2     HIGH SEAS                                     ...   42.0     1.0
3     HIGH SEAS                                     ...   42.0     1.0
4     HIGH SEAS NA                                  ...   80.0     3.0
...                                                 ...    ...     ...
2895  EEZ NA                                        ...  370.0     7.0
2896  EEZ NA                                        ...  370.0     7.0
2897  EEZ                                           ...  265.0     4.0
2898  EEZ                                           ...  280.0     6.0
2899  EEZ NA                                        ...  100.0     3.0

                           Boat_No Arrival_date Departure_Date  \
0     IMULA0652CHW                   2017-08-22     2017-07-05
1     IMULA0644CHW                   2017-03-20     2017-02-18
2     IMULA0148PTM                   2017-10-22     2017-09-24
3     IMULA0148PTM                   2017-06-14     2017-05-30
4     IMULA0532CHW                   2017-07-15     2017-06-24
...                            ...          ...            ...
2895  IMULA0185CHW                   2017-02-21     2017-01-27
2896  IMULA0185CHW                   2017-02-21     2017-01-27
2897  IMULA0185CHW                   2017-02-21     2017-01-27
2898  IMULA0185CHW                   2017-02-21     2017-01-27
2899  IMULA0148TCO                   2017-09-14     2017-08-24

                                          Arrival_Port  \
0     Negombo
1     Dikowita
2     Cod Bay
3     Cod Bay
4     Dikowita
...                                                ...
2895  Kalpitiya
2896  Kalpitiya
2897  Kalpitiya
2898  Kalpitiya
2899  Nilwella

                                        Departure_Port  Year   Set_Date  \
0     Negombo                                           2017 2017-08-13
1     TCO                                               2017 2017-03-13
2     Cod Bay                                           2017 2017-10-05
3     Cod Bay                                           2017 2017-10-05
4     Dikowita                                          2017 2017-07-05
...                                                ...   ...        ...
2895  TCO                                               2017 2017-02-12
2896  TCO                                               2017 2017-02-14
2897  TCO                                               2017 2017-02-17
2898  TCO                                               2017 2017-02-17
2899  Nilwella                                          2017 2017-08-28

      Is_In_Range  Count
0            True   1023
1            True    783
2            True    168
3           False    168
4            True    120
...           ...    ...
2895         True      1
2896         True      1
2897         True      1
2898         True      1
2899         True      1

[2900 rows x 19 columns]

In [178]:
df17= df17.drop_duplicates()

In [179]:
merged_df1 = pd.concat([df16, df17], ignore_index=True)

In [180]:
merged_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130084 entries, 0 to 130083
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Rec_No          130084 non-null  object
 1   Month           130084 non-null  int64
 2   Day             130084 non-null  int64
 3   Latitude        130084 non-null  object
 4   Longetude       130084 non-null  object
 5   Total_Hooks     130084 non-null  int64
 6   Type_of_Bait    114372 non-null  object
 7   zone            130077 non-null  object
 8   KG              130084 non-null  float64
 9   Amount          130084 non-null  float64
 10  Boat_No         130084 non-null  object
 11  Departure_Port  130084 non-null  object
 12  Departure_Date  130084 non-null  datetime64[ns]
 13  Arrival_Port    130084 non-null  object
 14  Arrival_date    130084 non-null  datetime64[ns]
 15  Year            130084 non-null  int64
 16  Set_Date        129920 non-null  datetime64[ns]
 17  Is_In_Range     130084 non-null  bool
dtypes: bool(1), datetime64[ns](3), float64(2), int64(4), object(8)
memory usage: 17.0+ MB

In [181]:
merged_df1.to_csv('merged_16_17.csv')
csv_file_path = "merged_16_17.csv"
colab_folder = "/content/gdrive/MyDrive/FYP_Datasets/7_Year16to19"
shutil.move(csv_file_path, os.path.join(colab_folder, csv_file_path))

print(f"File '{csv_file_path}' moved to the '{colab_folder}' folder.")

File 'merged_16_17.csv' moved to the '/content/gdrive/MyDrive/FYP_Datasets/7_Year16to19' folder.

2018

In [132]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356204 entries, 0 to 356203
Data columns (total 39 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   356204 non-null  int64
 1   Rec_No               356204 non-null  object
 2   Y                    356204 non-null  int64
 3   M                    356204 non-null  int64
 4   D                    356204 non-null  int64
 5   Lat                  356204 non-null  object
 6   Long                 356204 non-null  object
 7   Fish_Name            356204 non-null  object
 8   KG                   356204 non-null  float64
 9   Amount               356204 non-null  float64
 10  Boat_No              356204 non-null  object
 11  Departure_Date       356204 non-null  datetime64[ns]
 12  Departure_Port       356204 non-null  object
 13  Arrival_date         356204 non-null  datetime64[ns]
 14  Arrival_Port         356204 non-null  object
 15  Catch_Type           356204 non-null  object
 16  Month                356204 non-null  int64
 17  Date_Of_Set          356204 non-null  int64
 18  StartTime            356204 non-null  int64
 19  EndTime              356204 non-null  int64
 20  Latitude             356204 non-null  object
 21  Longetude            356204 non-null  object
 22  Total_Length_of_Net  34371 non-null   object
 23  Mesh_Size            356204 non-null  float64
 24  Depth_Net_Set        356204 non-null  float64
 25  Height_of_net        356204 non-null  float64
 26  FADType              316 non-null     object
 27  GillNetLen           356204 non-null  int64
 28  BranchLine_Len       163449 non-null  object
 29  Hooks_Between        356204 non-null  int64
 30  Total_Hooks          356204 non-null  int64
 31  Type_of_Bait         55729 non-null   object
 32  Remarks              817 non-null     object
 33  Rec_Date             356204 non-null  datetime64[ns]
 34  EndLatitude          84126 non-null   object
 35  EndLongetude         83990 non-null   object
 36  zone                 356155 non-null  object
 37  Fivedegree           356204 non-null  int64
 38  Onedegree            356204 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(13), object(18)
memory usage: 106.0+ MB

In [133]:
df18['Fish_Name'].value_counts()

Skipjack tuna                          83771
Yellowfin tuna                         83351
Sword fish                             46106
Sail fish                              38985
Black marlin                           15467
                                       ...
SEER                                       2
SEA VIRAL                                  2
PONY?+????FISH(Karalla)                    2
PALLA MACHLI                               1
Small Yello fin tuna                       1
Name: Fish_Name, Length: 68, dtype: int64

In [134]:
df18['Catch_Type'].value_counts()

longline    163449
gillnets    158384
ringnet      34371
Name: Catch_Type, dtype: int64

In [137]:
df18 = df18c.copy()

In [138]:
df18['Catch_Type'] = df18['Catch_Type'].str.strip()
df18['Fish_Name'] = df18['Fish_Name'].str.strip()

In [139]:
df18 = df18[df18['Catch_Type'] == 'longline']
df18 = df18[df18['Fish_Name'] == 'Yellowfin tuna']

In [140]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72616 entries, 0 to 356166
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   72616 non-null  int64
 1   Rec_No               72616 non-null  object
 2   Y                    72616 non-null  int64
 3   M                    72616 non-null  int64
 4   D                    72616 non-null  int64
 5   Lat                  72616 non-null  object
 6   Long                 72616 non-null  object
 7   Fish_Name            72616 non-null  object
 8   KG                   72616 non-null  float64
 9   Amount               72616 non-null  float64
 10  Boat_No              72616 non-null  object
 11  Departure_Date       72616 non-null  datetime64[ns]
 12  Departure_Port       72616 non-null  object
 13  Arrival_date         72616 non-null  datetime64[ns]
 14  Arrival_Port         72616 non-null  object
 15  Catch_Type           72616 non-null  object
 16  Month                72616 non-null  int64
 17  Date_Of_Set          72616 non-null  int64
 18  StartTime            72616 non-null  int64
 19  EndTime              72616 non-null  int64
 20  Latitude             72616 non-null  object
 21  Longetude            72616 non-null  object
 22  Total_Length_of_Net  0 non-null      object
 23  Mesh_Size            72616 non-null  float64
 24  Depth_Net_Set        72616 non-null  float64
 25  Height_of_net        72616 non-null  float64
 26  FADType              0 non-null      object
 27  GillNetLen           72616 non-null  int64
 28  BranchLine_Len       72616 non-null  object
 29  Hooks_Between        72616 non-null  int64
 30  Total_Hooks          72616 non-null  int64
 31  Type_of_Bait         25782 non-null  object
 32  Remarks              59 non-null     object
 33  Rec_Date             72616 non-null  datetime64[ns]
 34  EndLatitude          0 non-null      object
 35  EndLongetude         0 non-null      object
 36  zone                 72615 non-null  object
 37  Fivedegree           72616 non-null  int64
 38  Onedegree            72616 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(13), object(18)
memory usage: 22.2+ MB

In [142]:
are_columns_equal = (df18['M'] == df18['Month']).all()

if are_columns_equal:
    print("Values in columns 'a' and 'b' are the same for every record.")
else:
    print("Values in columns 'a' and 'b' are not the same for every record.")

Values in columns 'a' and 'b' are not the same for every record.

In [144]:
different_values = df18[df18['Latitude'] != df18['Lat']][['Latitude', 'Lat']]

if different_values.empty:
    print("There are no different values between columns 'a' and 'b'.")
else:
    print("Different values between columns 'a' and 'b':")
    print(different_values)

Different values between columns 'a' and 'b':
       Latitude         Lat
0       N010 16  N010 16
2       N010 16  N010 16
4       N011 24  N011 24
7       N011 10  N011 10
10      N011 10  N011 10
...         ...         ...
356162  N010 14  N010 14
356163  N010 05  N010 05
356164  N010 17  N010 17
356165  N010 20  N010 20
356166  N010 10  N010 10

[72616 rows x 2 columns]

In [146]:
df18.drop(['id', 'Fish_Name', 'Month', 'StartTime', 'EndTime','Latitude', 'Longetude',
           'Total_Length_of_Net', 'Mesh_Size', 'Depth_Net_Set','Height_of_net', 'FADType',
           'GillNetLen' , 'BranchLine_Len', 'Hooks_Between', 'Remarks', 'Rec_Date',
           'EndLatitude', 'EndLongetude', 'Fivedegree', 'Onedegree'
           ], axis=1, inplace=True)

In [155]:
df18.drop(['Date_Of_Set'], axis=1, inplace=True)

In [173]:
df18.drop(['Catch_Type'], axis=1, inplace=True)

<ipython-input-173-706262992ddb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df18.drop(['Catch_Type'], axis=1, inplace=True)

In [174]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71425 entries, 0 to 356166
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rec_No          71425 non-null  object
 1   Year            71425 non-null  int64
 2   Month           71425 non-null  int64
 3   Day             71425 non-null  int64
 4   Latitude        71425 non-null  object
 5   Longetude       71425 non-null  object
 6   KG              71425 non-null  float64
 7   Amount          71425 non-null  float64
 8   Boat_No         71425 non-null  object
 9   Departure_Date  71425 non-null  datetime64[ns]
 10  Departure_Port  71425 non-null  object
 11  Arrival_date    71425 non-null  datetime64[ns]
 12  Arrival_Port    71425 non-null  object
 13  Total_Hooks     71425 non-null  int64
 14  Type_of_Bait    25471 non-null  object
 15  zone            71424 non-null  object
 16  Set_Date        71425 non-null  datetime64[ns]
 17  Is_In_Range     71425 non-null  bool
dtypes: bool(1), datetime64[ns](3), float64(2), int64(4), object(8)
memory usage: 9.9+ MB

In [168]:
df18

,Rec_No,Year,Month,Day,Latitude,Longetude,KG,Amount,Boat_No,Departure_Date,Departure_Port,Arrival_date,Arrival_Port,Catch_Type,Total_Hooks,Type_of_Bait,zone,Set_Date,Is_In_Range
0,LB170001A-16-A,2018,1,12,N010 16,E084 43,250.0,5.0,IMULA0938TLE,2018-01-06,Tangalle,2018-01-30,Tangalle,longline,500,FLY FISH,HIGH SEAS,2018-01-12,True
2,LB170001A-16-A,2018,1,3,N010 16,E084 43,200.0,5.0,IMULA0938TLE,2018-01-06,Tangalle,2018-01-30,Tangalle,longline,0,NaN,HIGH SEAS,2018-01-03,False
4,LB170001A-16-A,2018,1,15,N011 24,E085 03,160.0,3.0,IMULA0938TLE,2018-01-06,Tangalle,2018-01-30,Tangalle,longline,0,NaN,HIGH SEAS NA,2018-01-15,True
7,LB170001A-16-A,2018,1,17,N011 10,E084 10,100.0,2.0,IMULA0938TLE,2018-01-06,Tangalle,2018-01-30,Tangalle,longline,0,NaN,HIGH SEAS NA,2018-01-17,True
10,LB170001A-16-A,2018,1,19,N011 10,E083 17,350.0,8.0,IMULA0938TLE,2018-01-06,Tangalle,2018-01-30,Tangalle,longline,0,NaN,EEZ NA,2018-01-19,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356162,LB184819A-07-A,2018,11,6,N010 14,E081 10,60.0,1.0,IMULA0691MTR,2018-11-18,Cod Bay,2018-12-13,Cod Bay,longline,0,NaN,EEZ NA,2018-11-06,False
356163,LB184819A-07-A,2018,11,28,N010 05,E081 05,80.0,3.0,IMULA0691MTR,2018-11-18,Cod Bay,2018-12-13,Cod Bay,longline,0,NaN,EEZ NA,2018-11-28,True
356164,LB184819A-07-A,2018,11,22,N010 17,E081 30,50.0,2.0,IMULA0691MTR,2018-11-18,Cod Bay,2018-12-13,Cod Bay,longline,500,BOLLA,EEZ NA,2018-11-22,True
356165,LB184819A-07-A,2018,11,24,N010 20,E081 20,15.0,1.0,IMULA0691MTR,2018-11-18,Cod Bay,2018-12-13,Cod Bay,longline,0,NaN,EEZ NA,2018-11-24,True
356166,LB184819A-07-A,2018,11,25,N010 10,E081 20,60.0,2.0,IMULA0691MTR,2018-11-18,Cod Bay,2018-12-13,Cod Bay,longline,0,NaN,EEZ NA,2018-11-25,True

In [150]:
df18.rename(columns={'Y': 'Year', 'D': 'Day', 'M':'Month', 'Lat' : 'Latitude', 'Long':'Longetude'}, inplace=True)

In [152]:
df18['Set_Date'] = pd.to_datetime(df18[['Year', 'Month', 'Day']].astype(str).agg(' '.join, axis=1), format='%Y %m %d', errors='coerce')

In [158]:
mask = (df18['Arrival_date'] >= '2019-01-01') & (df18['Set_Date'] <= '2018-01-31')
df18.loc[mask, 'Set_Date'] = df18.loc[mask, 'Set_Date'] + pd.DateOffset(years=1)
df18.loc[mask, 'Year'] = 2019

In [159]:
df18['Is_In_Range'] = (df18['Set_Date'] <= df18['Arrival_date']) & (df18['Set_Date'] >= df18['Departure_Date'])

# Print rows where 'Set_Date' is not in the range
invalid_set_dates = df18[~df18['Is_In_Range']]
print("Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':")
print(invalid_set_dates)

Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':
                           Rec_No  Year  Month  Day    Latitude   Longetude  \
2       LB170001A-16-A             2018      1    3  N010 16     E084 43
64      LB170001A-24-A             2018     11   18  N005 47     E080 40
65      LB170001A-24-A             2018      2    1  N005 47     E080 40
718     LB170037A-15-A             2018      2    4  N015 35     E087 45
719     LB170037A-15-A             2018      2    5  N015 19     E087 54
...                           ...   ...    ...  ...         ...         ...
355874  LB184791A-02-A             2018     12   27  N008 10     E082 30
355912  LB184794A-03-A             2018     12   24  N008 00     E082 05
355913  LB184794A-03-A             2018     12   25  N008 20     E082 19
355914  LB184794A-03-A             2018     12   26  N008 22     E082 16
356162  LB184819A-07-A             2018     11    6  N010 14     E081 10

           KG  Amount       Boat_No Departure_Date Departure_Port  \
2       200.0     5.0  IMULA0938TLE     2018-01-06       Tangalle
64      550.0    10.0  IMULA0938TLE     2018-09-16       Tangalle
65      150.0     3.0  IMULA0938TLE     2018-09-16       Tangalle
718     160.0     5.0  IMULA0687TLE     2018-01-30       Tangalle
719     130.0     4.0  IMULA0687TLE     2018-01-30       Tangalle
...       ...     ...           ...            ...            ...
355874  108.0     2.0  IMULA0427MTR     2018-11-26  Valaichchenai
355912   74.0     2.0  IMULA0159KLT     2018-12-29  Valaichchenai
355913   24.0     1.0  IMULA0159KLT     2018-12-29  Valaichchenai
355914   35.0     1.0  IMULA0159KLT     2018-12-29  Valaichchenai
356162   60.0     1.0  IMULA0691MTR     2018-11-18        Cod Bay

       Arrival_date   Arrival_Port Catch_Type  Total_Hooks Type_of_Bait  \
2        2018-01-30       Tangalle   longline            0          NaN
64       2018-09-21       Tangalle   longline            0          NaN
65       2018-09-21       Tangalle   longline            0          NaN
718      2018-01-27       Tangalle   longline          250  Indian Scad
719      2018-01-27       Tangalle   longline          250  Indian Scad
...             ...            ...        ...          ...          ...
355874   2018-11-29  Valaichchenai   longline          300        SQUID
355912   2018-12-31  Valaichchenai   longline            5        squid
355913   2018-12-31  Valaichchenai   longline            5        squid
355914   2018-12-31  Valaichchenai   longline            5        squid
356162   2018-12-13        Cod Bay   longline            0          NaN

                zone   Set_Date  Is_In_Range
2          HIGH SEAS 2018-01-03        False
64            EEZ NA 2018-11-18        False
65               EEZ 2018-02-01        False
718        HIGH SEAS 2018-02-04        False
719     HIGH SEAS NA 2018-02-05        False
...              ...        ...          ...
355874           EEZ 2018-12-27        False
355912        EEZ NA 2018-12-24        False
355913        EEZ NA 2018-12-25        False
355914        EEZ NA 2018-12-26        False
356162        EEZ NA 2018-11-06        False

[4524 rows x 19 columns]

In [160]:
duplicate_rows = df18[df18.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

Duplicate rows:
                           Rec_No  Year  Month  Day    Latitude   Longetude  \
2555    LB170209A-09-A             2018      3   19  N007 16     E083 19
2996    LB170218A-15-A             2018      2   20  N009 30     E084 47
3112    LB170219A-12-A             2018      2    9  N008 40     E083 25
3845    LB170227A-15-A             2018     11   17  N014 40     E068 00
3860    LB170227A-15-A             2018     11   17  N015 38     E067 46
...                           ...   ...    ...  ...         ...         ...
348681  LB184668A-07-A             2018      1    1  N007 15     E082 10
348691  LB184668A-07-A             2018      1    1  N007 30     E082 25
348693  LB184668A-07-A             2018      1    1  N007 30     E082 25
349245  LB184675A-02-A             2018      6   20  N005 37     E082 21
349247  LB184675A-02-A             2018      6   20  N005 39     E082 23

            KG  Amount       Boat_No Departure_Date Departure_Port  \
2555     180.0     3.0  IMULA0645NBO     2018-03-03            TCO
2996     140.0     3.0  IMULA0581NBO     2018-02-15        Cod Bay
3112     170.0     3.0  IMULA0156NBO     2018-01-19        Negombo
3845     140.0     4.0  IMULA0714NBO     2018-10-24        Negombo
3860    1000.0    34.0  IMULA0714NBO     2018-10-24        Negombo
...        ...     ...           ...            ...            ...
348681   116.0     2.0  IMULA0090BCO     2018-06-19  Valaichchenai
348691   135.0     3.0  IMULA0090BCO     2018-06-19  Valaichchenai
348693   135.0     3.0  IMULA0090BCO     2018-06-19  Valaichchenai
349245    50.0     2.0  IMULA0056BCO     2018-06-20  Valaichchenai
349247    49.0     1.0  IMULA0056BCO     2018-06-20  Valaichchenai

       Arrival_date   Arrival_Port Catch_Type  Total_Hooks Type_of_Bait  \
2555     2018-04-07        Cod Bay   longline            0          NaN
2996     2018-03-09        Cod Bay   longline            0          NaN
3112     2018-02-12        Cod Bay   longline            0          NaN
3845     2018-12-03        Negombo   longline         1300      VEKKAYA
3860     2018-12-03        Negombo   longline         1300      VEKKAYA
...             ...            ...        ...          ...          ...
348681   2018-06-25  Valaichchenai   longline          300         FISH
348691   2018-06-25  Valaichchenai   longline          300         FISH
348693   2018-06-25  Valaichchenai   longline          300         FISH
349245   2018-06-23  Valaichchenai   longline          195         FISH
349247   2018-06-23  Valaichchenai   longline          195         FISH

                zone   Set_Date  Is_In_Range
2555          EEZ NA 2018-03-19         True
2996       HIGH SEAS 2018-02-20         True
3112          EEZ NA 2018-02-09         True
3845    HIGH SEAS NA 2018-11-17         True
3860    HIGH SEAS NA 2018-11-17         True
...              ...        ...          ...
348681           EEZ 2018-01-01        False
348691        EEZ NA 2018-01-01        False
348693           EEZ 2018-01-01        False
349245           EEZ 2018-06-20         True
349247           EEZ 2018-06-20         True

[1191 rows x 19 columns]

In [161]:
df18= df18.drop_duplicates()

2019

In [163]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407622 entries, 0 to 407621
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Rec_No               407622 non-null  object
 1   Boat_No              407622 non-null  object
 2   Fish_Name            407622 non-null  object
 3   KG                   407622 non-null  float64
 4   Amount               407622 non-null  float64
 5   Departure_Date       407622 non-null  datetime64[ns]
 6   Departure_Port       407622 non-null  object
 7   Arrival_Date         407622 non-null  datetime64[ns]
 8   Arrival_Port         407622 non-null  object
 9   Catch_Type           407622 non-null  object
 10  Month                407622 non-null  int64
 11  Date_Of_Set          407622 non-null  int64
 12  Latitude             407622 non-null  object
 13  Longetude            407622 non-null  object
 14  Total_Hooks          407622 non-null  int64
 15  Total_Length_of_Net  38827 non-null   object
 16  Mesh_Size            407622 non-null  float64
 17  Depth_Net_Set        407622 non-null  float64
 18  Height_of_net        407622 non-null  float64
 19  FADType              267 non-null     object
 20  GillNetLen           407622 non-null  int64
 21  BranchLine_Len       190305 non-null  object
 22  Hooks_Between        407622 non-null  int64
 23  Type_of_Bait         66092 non-null   object
 24  Remarks              856 non-null     object
 25  Rec_Date             407622 non-null  datetime64[ns]
 26  zone                 407599 non-null  object
 27  Fivedegree           407622 non-null  int64
 28  Onedegree            407622 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(7), object(14)
memory usage: 90.2+ MB

In [164]:
df19['Catch_Type'] = df19['Catch_Type'].str.strip()
df19['Fish_Name'] = df19['Fish_Name'].str.strip()

In [165]:
df19['Catch_Type'].value_counts()

longline    190305
gillnets    178490
ringnet      38827
Name: Catch_Type, dtype: int64

In [166]:
df19['Fish_Name'].value_counts()

Skipjack tuna                98496
Yellowfin tuna               88465
Sword fish                   53959
Sail fish                    39740
Bigeye tuna                  23039
                             ...
SQUIDS                           2
SPINNER SHARKS(KATU MORA)        1
SURUTTA                          1
SEA VIRAL                        1
RAY                              1
Name: Fish_Name, Length: 63, dtype: int64

In [167]:
df19 = df19[df19['Catch_Type'] == 'longline']
df19 = df19[df19['Fish_Name'] == 'Yellowfin tuna']

In [169]:
df19.drop(['Fish_Name', 'Catch_Type',
           'Total_Length_of_Net', 'Mesh_Size', 'Depth_Net_Set','Height_of_net', 'FADType',
           'GillNetLen' , 'BranchLine_Len', 'Hooks_Between', 'Remarks', 'Rec_Date',
            'Fivedegree', 'Onedegree'
           ], axis=1, inplace=True)

In [170]:
df19.rename(columns={'Arrival_Date': 'Arrival_date', 'Date_Of_Set': 'Day'}, inplace=True)

In [171]:
df19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76427 entries, 3 to 190302
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rec_No          76427 non-null  object
 1   Boat_No         76427 non-null  object
 2   KG              76427 non-null  float64
 3   Amount          76427 non-null  float64
 4   Departure_Date  76427 non-null  datetime64[ns]
 5   Departure_Port  76427 non-null  object
 6   Arrival_date    76427 non-null  datetime64[ns]
 7   Arrival_Port    76427 non-null  object
 8   Month           76427 non-null  int64
 9   Day             76427 non-null  int64
 10  Latitude        76427 non-null  object
 11  Longetude       76427 non-null  object
 12  Total_Hooks     76427 non-null  int64
 13  Type_of_Bait    30881 non-null  object
 14  zone            76427 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(3), object(8)
memory usage: 9.3+ MB

In [183]:
df19['Year'] = 2019

# Combine "Month", "Date_Of_Set", and "Year" to create a new variable "Set_Date"
df19['Set_Date'] = pd.to_datetime(df19[['Year', 'Month', 'Day']].astype(str).agg(' '.join, axis=1), format='%Y %m %d', errors='coerce')

In [184]:
mask = (df19['Arrival_date'] >= '2020-01-01') & (df18['Set_Date'] <= '2019-01-31')
df18.loc[mask, 'Set_Date'] = df18.loc[mask, 'Set_Date'] + pd.DateOffset(years=1)
df18.loc[mask, 'Year'] = 2020

In [185]:
df19['Is_In_Range'] = (df19['Set_Date'] <= df19['Arrival_date']) & (df19['Set_Date'] >= df19['Departure_Date'])

# Print rows where 'Set_Date' is not in the range
invalid_set_dates = df19[~df19['Is_In_Range']]
print("Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':")
print(invalid_set_dates)

Rows where 'Set_Date' is not in the range of 'Arrival_Date' and 'Departure_Date':
                Rec_No       Boat_No     KG  Amount Departure_Date  \
3       LB182048A-08-A  IMULA0319MTR   37.0     1.0     2019-01-14
4       LB182048A-08-A  IMULA0319MTR   32.0     1.0     2019-01-14
5       LB182048A-08-A  IMULA0319MTR   35.0     1.0     2019-01-14
6       LB182048A-08-A  IMULA0319MTR  101.0     2.0     2019-01-14
8       LB180133A-06-A  IMULA0981TLE  180.0     3.0     2019-01-13
...                ...           ...    ...     ...            ...
190233  LB174092A-14-A  IMULA0798CHW  200.0     5.0     2019-12-05
190238  LB174092A-14-A  IMULA0798CHW   90.0     3.0     2019-12-05
190269  LB170216A-21-A  IMULA0551CHW  200.0     5.0     2019-12-13
190274  LB170216A-21-A  IMULA0551CHW  200.0     5.0     2019-12-13
190302  LB181971A-05-A  IMULA0741NBO  400.0    10.0     2019-12-01

       Departure_Port Arrival_date Arrival_Port  Month  Day Latitude  \
3          Devinuwara   2019-01-22   Devinuwara     12    3  N004 10
4          Devinuwara   2019-01-22   Devinuwara     12    5  N004 15
5          Devinuwara   2019-01-22   Devinuwara     12    6  N004 10
6          Devinuwara   2019-01-22   Devinuwara     12    7  N004 10
8           Kudawella   2019-01-23      Cod Bay     11   25  N010 20
...               ...          ...          ...    ...  ...      ...
190233       Dikowita   2020-01-13     Dikowita      1    1  N008 07
190238       Dikowita   2020-01-13     Dikowita      1    3  N008 05
190269        Negombo   2020-01-10     Dikowita     11   28  N002 05
190274        Negombo   2020-01-10     Dikowita      1    3  N001 59
190302       Dikowita   2020-01-11     Dikowita      1    1  N006 25

       Longetude  Total_Hooks Type_of_Bait          zone  Year   Set_Date  \
3        E081 00          150        BOLLA           EEZ  2019 2019-12-03
4        E081 15          150        BOLLA           EEZ  2019 2019-12-05
5        E081 00          150        BOLLA     EEZ NA NA  2019 2019-12-06
6        E081 00          150        BOLLA        EEZ NA  2019 2019-12-07
8        E081 30          200        BOLLA        EEZ NA  2019 2019-11-25
...          ...          ...          ...           ...   ...        ...
190233   E066 20            0          NaN  HIGH SEAS NA  2019 2019-01-01
190238   E066 30            0          NaN     HIGH SEAS  2019 2019-01-03
190269   E077 41            0          NaN     HIGH SEAS  2019 2019-11-28
190274   E077 32            0          NaN     HIGH SEAS  2019 2019-01-03
190302   E069 00            0          NaN  HIGH SEAS NA  2019 2019-01-01

        Is_In_Range
3             False
4             False
5             False
6             False
8             False
...             ...
190233        False
190238        False
190269        False
190274        False
190302        False

[5917 rows x 18 columns]

In [186]:
duplicate_rows = df19[df19.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [187]:
merged_df2 = pd.concat([df18, df19], ignore_index=True)

In [188]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147852 entries, 0 to 147851
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Rec_No          147852 non-null  object
 1   Year            147852 non-null  int64
 2   Month           147852 non-null  int64
 3   Day             147852 non-null  int64
 4   Latitude        147852 non-null  object
 5   Longetude       147852 non-null  object
 6   KG              147852 non-null  float64
 7   Amount          147852 non-null  float64
 8   Boat_No         147852 non-null  object
 9   Departure_Date  147852 non-null  datetime64[ns]
 10  Departure_Port  147852 non-null  object
 11  Arrival_date    147852 non-null  datetime64[ns]
 12  Arrival_Port    147852 non-null  object
 13  Total_Hooks     147852 non-null  int64
 14  Type_of_Bait    56352 non-null   object
 15  zone            147851 non-null  object
 16  Set_Date        147852 non-null  datetime64[ns]
 17  Is_In_Range     147852 non-null  bool
dtypes: bool(1), datetime64[ns](3), float64(2), int64(4), object(8)
memory usage: 19.3+ MB

In [189]:
merged_df2.to_csv('merged_18_19.csv')
csv_file_path = "merged_18_19.csv"
colab_folder = "/content/gdrive/MyDrive/FYP_Datasets/7_Year16to19"
shutil.move(csv_file_path, os.path.join(colab_folder, csv_file_path))

print(f"File '{csv_file_path}' moved to the '{colab_folder}' folder.")

File 'merged_18_19.csv' moved to the '/content/gdrive/MyDrive/FYP_Datasets/7_Year16to19' folder.

In [190]:
merged_df = pd.concat([merged_df1, merged_df2], ignore_index=True)

In [191]:
merged_df.to_csv('merged_df.csv')
csv_file_path = "merged_df.csv"
colab_folder = "/content/gdrive/MyDrive/FYP_Datasets/7_Year16to19"
shutil.move(csv_file_path, os.path.join(colab_folder, csv_file_path))

print(f"File '{csv_file_path}' moved to the '{colab_folder}' folder.")

File 'merged_df.csv' moved to the '/content/gdrive/MyDrive/FYP_Datasets/7_Year16to19' folder.